.top-cart {
    height: 400px;
    background-image: url(img/Cart_top.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-big {
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    color: $colorText;
    margin-top: 127px;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__content {
        grid-column: span 8;
    }

    &__info-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__product {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__product-name {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: rgb(0, 0, 0);
    }

    &__product-desc {
        width: 278px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: rgb(136, 136, 136);
    }

    &__product-price {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: rgb(5, 5, 5);
    }

    &__link {
        display: flex;
        gap: 30px;
    }

    &__link-small {
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        color: rgb(0, 0, 0);
    }

    &__input {
        border-radius: 6px;
        background: rgb(247, 246, 246);
        width: 71px;
        height: 51px;
        border: none;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        letter-spacing: 0px;
        text-align: center;
        margin-right: 14px;
    }

    &__btn {
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }

    &__btn-select {
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;
        width: 200px;
        height: 37px;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        background-color: #fff;
        transition: background-color 1s;
        
        &:hover {
            background-color: $colorBlack;
            color: $colorText;
        }

    }

    &__btn-select_catalog {
        display: inline-block;
        text-decoration: none;
        padding-left: 20px;
        padding-top: 10px;
        color: rgb(0, 0, 0);

        &:hover {
            background-color: $colorBlack;
            color: $colorText;
        }
    }

    &__form {
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        width: 379px;
        grid-column: span 4;
        display: flex        ;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

        &-title {
            padding-top: 42px;
            padding-bottom: 35px;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: center;
        }

        &-group {
            display: flex;
            flex-direction: column;
            gap: 41px;
        }

        &-finalprice {
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            text-align: center;
            padding-top: 64px;
        }

        &-btn {
            width: 290px;
            height: 41px;
            box-sizing: border-box;
            border: 1px solid rgb(4, 4, 4);
            border-radius: 20px;
            margin-top: 18px;
            transition: all 0.3s ease;
            overflow: hidden;
            position: relative;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: #e4dfdf
            }

            &:active::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 70%);
                border-radius: 20px;
                animation: ripple 0.6s linear;
            }
        }

        &-select {
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: rgb(0, 0, 0);
            padding-left: 76px;
            padding-top: 10px;
            position: relative;
            z-index: 1;
            transition: color 0.3s ease;
        }
    }

    &__control {
        border-bottom: 1px solid rgb(202, 205, 216);
        background-color: rgb(247, 246, 246);
        ;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 288px;
        margin-left: 27px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        font-family: inherit;
    }
}

// @import "tablet";
// @import "mobile";