* {
    margin: 0;
    padding: 0;
}

.catalog {
    height: 400px;
    background-image: url(img/Catalog_top.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.catalog__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    color: rgb(255, 255, 255);
    margin-top: 127px;
}

.navigation__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 9px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.navigation__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(0, 0, 0);
}

.options {
    display: flex    ;
    align-items: center;
    gap: 10px;
}

.options__select-1 {
    background-repeat: no-repeat;
    background-position: 150px;
    width: 182px;
    height: 40px;
    font-family: inherit;
    border-radius: 20px;
    border-color: rgb(196, 196, 196);
    padding-left: 17px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-image: url(img/strelka.png);
       
}

.options__select-2 {
    width: 227px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/strelka.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 22px) 13px;
    padding-right: 23px;
    padding-left: 23px;
    font-family: inherit;
}

.filter-details {
    position: relative;
}

.filter-box {
    position: absolute;
    top: calc(100% + 24px);
    right: 0px;
    max-height: 548px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    background-color: #fff;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
    z-index: 1;
}

.filter-box__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        gap: 32px 65px;
        min-width: 445px;
        max-height: 548px;
}

.filter-box__fieldset {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: none;
    }

.filter-box__fieldset_type {
        padding-right: 36px;
    }

.filter-box__legend {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
    }

.filter-box__btn {
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        width: 190px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 10px 76px;
        cursor: pointer;
        font-family: inherit;
        align-self: flex-end;
    }

.radio {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio__input {
    display: none;
}

.radio__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
}

.radio__label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #fff;
}

.radio__input:checked + .radio__label::before {
    border-color: #000;
    background-image: url(img/filter_1.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.range-filter {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.range-filter__input {
    position: absolute;
    width: 190px;
    height: 8px;
}

.range-filter__input,
.range-filter__input::-webkit-slider-runnable-track,
.range-filter__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}
.range-filter__input::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #000;
}
.range-filter__input:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}
.range-filter__input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
}
.range-filter__input::-webkit-slider-thumb:active {
    cursor: grabbing;
}
.range-filter__input::nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}
.range-filter__slider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 189px;
    display: inline-block;
    margin-top: -5px;
}
.range-filter__slider input {
    position: absolute;
}
.range-filter__label {
    font-size: 14px;
}

.color-filter {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    gap: 14px;
}

.color-filter__item {
    width: 15px;
    height: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-filter__input:checked + .color-filter__label::before {
    background-image: url(img/filter_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000;
}

.checkbox__input:checked + .checkbox__label::before {
    background-image: url(img/filter_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000;
}

.color-filter__input,
.checkbox__input {
    display: none;
}

.color-filter__label,
.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    padding-left: 30px;
}
.color-filter__label_white::before {
    background-color: rgb(255, 255, 255);
    border-color: #808080;
}
.color-filter__label_black::before {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    background-image: url(img/filter_2.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #fff;
}
.color-filter__label_grey::before {
    background-color: rgb(115, 115, 115);
    border-color: rgb(115, 115, 115);
}
.color-filter__label_red::before {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}
.color-filter__label_orange::before {
    background-color: rgb(255, 122, 65);
    border-color: rgb(255, 122, 65);
}
.color-filter__label_yellow::before {
    background-color: rgb(242, 203, 1);
    border-color: rgb(242, 203, 1);
}
.color-filter__label_green::before {
    background-color: rgb(0, 191, 42);
    border-color: rgb(0, 191, 42);
} 
.color-filter__label_emerald::before {
    background-color: rgb(28, 204, 151);
    border-color: rgb(28, 204, 151);
}   
.color-filter__label_cyan::before {
    background-color: rgb(0, 159, 227);
    border-color: rgb(0, 159, 227);
}
.color-filter__label_blue::before {
    background-color: rgb(0, 10, 248);
    border-color: rgb(0, 10, 248);
}
.color-filter__label_lavender::before {
    background-color: rgb(103, 16, 214);
    border-color: rgb(103, 16, 214);
}
.color-filter__label_darckpink::before {
    background-color: rgb(157, 13, 181);
    border-color: rgb(157, 13, 181);
}    
.color-filter__label_violet::before {
    background-color: #d89aff;
    border-color: #d89aff;
}
.color-filter__label_pink::before {
    background-color: #ff1493;
    border-color: #ff1493;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-filter__label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid rgb(136, 136, 136);
    display: inline-block;
    position: absolute;
    left: 0;   
}

.checkbox__label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid rgb(136, 136, 136);
    display: inline-block;
    position: absolute;
    left: 0;   
}

.checkbox__input:checked + .checkbox-label::before {
    background-image: url(image/svggalka.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000;
}

