* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/Rectangle\ 15.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 59px;
  margin-top: 70px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
}
.top__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.top__link {
  color: grey;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.top__link:hover {
  text-decoration: underline;
}

.header {
  height: 77px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.header__input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  font-family: inherit;
}
.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.header__input::placeholder {
  color: rgb(255, 255, 255);
}

.nav {
  position: relative;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.menu__link:hover {
  text-decoration: underline;
}

.for {
  padding-top: 64px;
}
.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
}
.for__item {
  height: 415px;
  grid-column: span 4;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/for-1.jpeg);
}
.for__item_2 {
  background-image: url(img/for-2.jpeg);
}
.for__item_3 {
  background-image: url(img/for-3.jpeg);
}
.for__item_4 {
  background-image: url(img/for-4.jpeg);
}
.for__item_5 {
  background-image: url(img/for-5.jpeg);
}

.product-box {
  margin-bottom: 39px;
  padding-top: 64px;
}

.product-box__title,
.for__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.product-content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: space-around;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
}
.product__img {
  width: 100%;
}
.product__desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #888888;
  margin-bottom: 12px;
}
.product__box-price {
  display: flex;
  gap: 32px;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__price_sale {
  text-decoration-line: line-through;
  color: #888888;
}
.product__icons {
  display: none;
  position: absolute;
  top: 10px;
}
.product:hover .product__icons {
  display: block;
}
.product__icons_bag {
  top: 10px;
  right: 55px;
}
.product__icons_heart {
  right: 10px;
  top: 10px;
}

.link {
  text-decoration: underline;
  color: #000;
}
.link:hover {
  color: #888888;
  text-decoration: none;
}

.footer {
  background-color: rgb(247, 246, 246);
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 64px;
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item-li {
  list-style-type: none;
}
.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__link {
  font-weight: 500px;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer img {
  transition: filter 1s;
}
.footer img:hover {
  filter: brightness(0);
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.email {
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #888888;
  outline: none;
  text-align: left;
  padding-left: 17px;
  padding-right: 17px;
  font-family: inherit;
}

.btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 46px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #000000;
  font-family: inherit;
}
.btn:hover {
  color: rgb(255, 255, 255);
  background: #000000;
}

.top-cart {
  height: 400px;
  background-image: url(img/Cart_top.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title-big {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: rgb(255, 255, 255);
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__info-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__product {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart__product-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: rgb(0, 0, 0);
}
.cart__product-desc {
  width: 278px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(136, 136, 136);
}
.cart__product-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(5, 5, 5);
}
.cart__link {
  display: flex;
  gap: 30px;
}
.cart__link-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  color: rgb(0, 0, 0);
}
.cart__input {
  border-radius: 6px;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 14px;
}
.cart__btn {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__btn-select {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 200px;
  height: 37px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: #fff;
}
.cart__btn-select:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.cart__btn-select_catalog {
  display: inline-block;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
}
.cart__btn-select_catalog:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
}
.cart__form-title {
  padding-top: 42px;
  padding-bottom: 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}
.cart__form-group {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.cart__control {
  border-bottom: 1px solid rgb(202, 205, 216);
  background-color: rgb(247, 246, 246);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 288px;
  margin-left: 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: inherit;
}
.cart__form-finalprice {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  padding-top: 64px;
}
.cart__form-btn {
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  margin-top: 18px;
  margin-left: 45px;
}
.cart__form-select {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0, 0, 0);
  padding-left: 76px;
  padding-top: 10px;
}

.modal {
  width: 477px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  padding: 40px 48px;
  position: absolute;
  top: calc(100% + 18px);
  right: 0;
}
.modal::before {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}
.modal:hover::before {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.modal-box {
  display: flex;
  border-bottom: 0.5px solid rgb(202, 205, 216);
  padding-bottom: 24px;
  justify-content: space-between;
}
.modal-box_bottom {
  border-bottom: none;
  padding-top: 24px;
}
.modal-box__input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  text-align: center;
}
.modal-item {
  display: flex;
  gap: 24px;
}
.modal-item__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-item__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.modal-item__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.modal-item__actions {
  padding-top: 46px;
  display: flex;
  gap: 24px;
}
.modal-item__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  text-decoration: underline;
  color: #000000;
}
.modal-info {
  display: flex;
  gap: 32px;
}
.modal-info__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -3%;
}
.modal-info__btn {
  width: 207px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
}
.modal-info__btn_cart {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */